spring:
  application:
    name: rest

  sql:
    init:
      encoding: UTF-8

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

logging:
  level:
    org:
      springframework: INFO
      hibernate:
        SQL: DEBUG
        orm:
          jdbc:
            bind: TRACE
          schema: DEBUG
        tool:
          schema: DEBUG

security:
  auth:
    registration-enabled: true
  jwt:
    secret: ${SECURITY_JWT_SECRET:changemechangemechangemechangeme}
    issuer: apirest
    access-ttl: 15m
    refresh-ttl: 7d
    refresh-enabled: true
    denylist-enabled: false
  cors:
    allowed-origins:
      - http://localhost:3000